# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Code Quality
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Project specific
data/status.json
*.session
*.session-journal
.env

# Replit (hanya file temporary)
.breakpoints
.config/
.upm/

# OS specific
.DS_Store
Thumbs.db
*.tmp
*.log