# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Code Quality
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Project specific
data/status.json
*.session
*.session-journal
.env

# Replit specific
.breakpoints
.config/
.upm/
.cache/
replit.nix
poetry.lock

# OS specific
.DS_Store
Thumbs.db
*.tmp
*.log