run = "python main.py"
language = "python3"

[nix]
channel = "stable-23_11"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "cloudrun"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"]

[unitTest]
language = "python3" 