run = "python main.py"
language = "python3"
modules = ["python-3.12", "nix"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"]

[unitTest]
language = "python3"